body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.google {
    background: #db4437;
    color: white;
}

.facebook {
    background: #3b5998;
    color: white;
}
